* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  width: 1728px;
  padding: 15px;
}

.section {
  background: #ebead2;
  font-family: Lato;
  font-size: 50px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0.3125px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

div .box {
  background: #ffffff;
  border: 1px solid #979797;
  /* padding-top: 30px;
  padding-bottom: 30px; */
}

/* section 1 */
.section-1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.section-1 .box {
  width: 50%;
}

/* section 2 */
.section-2 {
  display: flex;
  flex-wrap: wrap;
}

.section-2 .box {
  width: 50%;
}

/* section 3 */
.section-3 {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.section-3 .box {
  width: 5%;
}

/* section 4 */
.section-4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.section-4 .box {
  width: 49%;
}

/* section 5 */
.section-5 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  padding-right: 15px;
}

.section-5 .box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}

.section-5 .box:nth-child(2) {
  height: 148.03px;
}

.section-5 .box:nth-child(3) {
  height: 100px;
}

.section-5 .box:nth-child(4) {
  height: 200px;
}
